           /* slider 2 */
           /* @import url('https://fonts.googleapis.com/css?family=Just+Another+Hand'); */
           
           body,
           html {
               width: 100%;
               height: 100%;
               margin: 0;
               font-family: 'Just Another Hand', cursive;
               overflow-X: hidden;
               /* optional */
           }
           
           #i1,
           #i2,
           #i3,
           #i4,
           #i5 {
               display: none;
           }
           
           .container {
               margin-top: 80px;
               /* margin: 0 auto;*/
               position: relative;
               width: 100%;
               height: 0;
               padding-bottom: 38%;
               user-select: none;
               background-color: #1c1c1c;
               /* border-bottom: solid 10px blue;*/
               border-radius: 10px;
               border-width: 5px;
               margin-bottom: 100px;
           }
           
           .description {
               position: absolute;
               top: 35%;
               left: 14%;
               font-size: 20px;
               color: white;
               font-weight: bold;
               /*width: 600px;*/
               width: 40%;
               height: 40%;
               padding-bottom: 100px;
           }
           
           .description span {
               color: #97CDE6;
               text-transform: uppercase;
               font-size: 30px;
           }
           
           .description em {
               font-size: 30px;
               color: white;
               text-transform: uppercase;
           }
           
           .description h3 {
               font-size: 14px;
               margin-bottom: 30px;
           }
           
           .description a {
               border: 1px solid #97CDE6;
               background-color: #97CDE6;
               color: white;
               padding: 10px;
               text-decoration: none;
           }
           
           .trait1 {
               border-top: 10px solid #97CDE6;
               border-bottom: 1px solid rgb(247, 250, 253);
               border-top-right-radius: 15px;
               width: 30%;
               height: 1px;
               margin-top: 1px;
               position: relative;
               top: -14px;
           }
           
           .trait2 {
               border-top: 10px solid #97CDE6;
               border-bottom: 1px solid rgb(247, 250, 253);
               border-top-right-radius: 15px;
               width: 50%;
               height: 1px;
               margin-top: 1px;
               position: relative;
               top: -14px;
           }
           
           .trait3 {
               border-top: 10px solid #97CDE6;
               border-bottom: 1px solid rgb(247, 250, 253);
               border-top-right-radius: 15px;
               width: 75%;
               height: 1px;
               margin-top: 1px;
               position: relative;
               top: -14px;
           }
           
           .trait4 {
               border-top: 10px solid #97CDE6;
               border-bottom: 1px solid rgb(247, 250, 253);
               border-top-right-radius: 15px;
               width: 85%;
               height: 1px;
               margin-top: 1px;
               position: relative;
               top: -14px;
           }
           
           .trait5 {
               border-top: 10px solid #97CDE6;
               border-bottom: 1px solid rgb(247, 250, 253);
               border-top-right-radius: 15px;
               width: 100%;
               height: 1px;
               margin-top: 1px;
               position: relative;
               top: -14px;
           }
           
           .container .slide_img {
               position: absolute;
               width: 100%;
               height: 100%;
           }
           
           .container .slide_img img {
               width: inherit;
               height: inherit;
           }
           
           .prev,
           .next {
               width: 2%;
               height: 20px;
               height: inherit;
               position: absolute;
               top: 0;
               background-color: rgba(88, 88, 88, .9);
               color: rgba(244, 244, 244, .9);
               z-index: 99;
               transition: .45s;
               cursor: pointer;
               text-align: center;
           }
           
           .next {
               right: 0;
               height: 10%;
               margin-top: 14%;
               padding-bottom: 3%;
               /* padding-right: -10%;*/
               border-top-left-radius: 100%;
               border-bottom-left-radius: 100%;
           }
           
           .prev {
               left: 0;
               height: 10%;
               margin-top: 14%;
               padding-bottom: 3%;
               /* padding-right: 3%;*/
               border-top-right-radius: 100%;
               border-bottom-right-radius: 100%;
           }
           
           label span {
               position: absolute;
               font-size: 20pt;
               top: 50%;
               transform: translateY(-50%);
           }
           
           .prev:hover,
           .next:hover {
               transition: .3s;
               background-color: rgba(88, 88, 89, .8);
               color: #ffffff;
           }
           
           .container #nav_slide {
               width: 100%;
               bottom: 12%;
               height: 11px;
               position: absolute;
               text-align: center;
               z-index: 99;
               cursor: default;
           }
           
           #nav_slide .dots {
               top: -5px;
               width: 18px;
               height: 18px;
               margin: 0 4px;
               position: relative;
               border-radius: 100%;
               display: inline-block;
               background-color: rgba(0, 0, 0, 0.6);
               transition: .4s;
           }
           
           #nav_slide .dots:hover {
               cursor: pointer;
               background-color: rgba(255, 255, 255, 0.9);
               transition: .25s
           }
           
           .slide_img {
               z-index: -1;
           }
           
           #i1:checked~#one,
           #i2:checked~#two,
           #i3:checked~#three,
           #i4:checked~#four,
           #i5:checked~#five {
               z-index: 9;
               animation: scroll 1s ease-in-out;
           }
           
           #i1:checked~#nav_slide #dot1,
           #i2:checked~#nav_slide #dot2,
           #i3:checked~#nav_slide #dot3,
           #i4:checked~#nav_slide #dot4,
           #i5:checked~#nav_slide #dot5 {
               background-color: rgba(255, 255, 255, .9);
           }
           
           @keyframes scroll {
               0% {
                   opacity: .4;
               }
               100% {
                   opacity: 1;
               }
           }
           
           @media screen and (max-width: 685px) {
               .container {
                   margin-top: 100px;
                   border: none;
                   width: 100%;
                   height: 0;
                   padding-bottom: 55%;
               }
               /*
               label span {
                   font-size: 10pt;
               }
               .prev,
               .next {
                   width: 15%;
               }*/
               /****/
               .prev,
               .next {
                   width: 2%;
                   height: 20px;
                   height: inherit;
                   position: absolute;
                   top: 0;
                   background-color: rgba(88, 88, 88, .9);
                   color: rgba(244, 244, 244, .9);
                   z-index: 99;
                   transition: .45s;
                   cursor: pointer;
                   text-align: center;
               }
               .next {
                   right: 0;
                   height: 10%;
                   margin-top: 14%;
                   padding-bottom: 3%;
                   padding-right: 2%;
                   padding-left: 2%;
                   border-top-left-radius: 100%;
                   border-bottom-left-radius: 100%;
               }
               .prev {
                   left: 0;
                   height: 10%;
                   margin-top: 14%;
                   padding-bottom: 3%;
                   /* padding-right: 3%;*/
                   border-top-right-radius: 100%;
                   border-bottom-right-radius: 100%;
               }
               /****/
               #nav_slide .dots {
                   width: 12px;
                   height: 12px;
               }
           }
           
           @media screen and(min-width: 970px) {
               .me {
                   display: none;
               }
           }
           /* fin du slider 2 */
           
           @media screen and (max-width: 864px) {
               .description {
                   font-size: 11px;
                   padding-bottom: 50%;
                   width: 70%;
                   position: relative;
                   top: -95%;
               }
               .description span {
                   font-size: 11px;
               }
               .description em {
                   font-size: 11px;
               }
               .description a {
                   visibility: hidden;
               }
           }