body {
    font-family: 'Century Gothic', Calibri, serif;
    font-size: 13px;
    margin: 0px;
    padding: 0px;
    background-color: rgb(247, 250, 253);
    width: 100%;
    height: 100%;
}

section {
    position: relative;
    width: 100%;
    height: auto;
    background: url(bg.jpg);
    /* a venir */
    background-position: center center;
}

header {
    position: fixed;
    left: auto;
    width: 100%;
    z-index: 1000;
    padding: 0;
    padding-right: 100px;
    height: 80px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 2);
    /* box-shadow: 0 5px 15px rgba(0, 0, 0, .2);*/
    transition: .5s;
}

header img {
    margin-left: 100px;
    padding-top: 20px;
}

ul {
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    float: right;
    transition: .5s;
}

ul li {
    list-style: none;
    border: 5px solid white;
}

ul li a {
    position: relative;
    display: block;
    margin: 25px 25px;
    text-transform: capitalize;
    text-decoration: none;
    color: #262626;
    font-weight: bold;
    transition: .5s;
}

ul li:hover {
    height: 69px;
}

.menu-index:hover {
    border-top: 5px solid #5e2fe2;
    margin: 0px;
}

.menu-service:hover {
    border-top: 5px solid #F1dc4F;
}

.menu-portofolio:hover {
    border-top: 5px solid #0070BB;
}

.menu-contact:hover {
    border-top: 5px solid #e44d26;
}

.toggle {
    /*display: block;*/
    display: none;
    position: absolute;
    right: 10px;
    top: 26px;
    background: #f00;
    color: #fff;
    padding: 5px;
    cursor: pointer;
    font-weight: bold;
}


/* responsive de mon super header */

@media (max-width: 992px) {
    header {
        position: relative;
        top: auto;
        padding: 0 0;
        background: rgba(255, 255, 255, .5);
        margin-bottom: 200px;
        margin-bottom: 30%;
    }
    header img {
        margin-left: 12%;
        padding-top: 5%;
    }
    header ul {
        width: 100%;
        top: -5;
        /*display: block;*/
        display: none;
    }
    header ul.active {
        display: block;
        /* en attente du js */
    }
    header ul li a {
        margin: 0;
        display: block;
        text-align: center;
        color: #ffff;
        background: rgba(0, 0, 0, .5);
    }
    ul li {
        height: 36px;
        padding-top: 5px;
    }
    ul li:hover {
        height: 32px;
        background-color: #0070BB;
    }
    .description {
        visibility: hidden;
    }
    .description span {
        visibility: hidden
    }
    .description em {
        visibility: hidden;
    }
    .description h3 {
        visibility: hidden;
    }
    .description a {
        visibility: hidden;
    }
}