* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: Poppins;
    font-weight: 400;
    background-position: center;
    background-size: cover;
}

.containerMenu {
    background-color: #000;
    width: 100%;
    height: 80%;
}

.nav-wrapper {
    position: fixed;
    background-color: white;
    height: 80px;
    width: 70%;
    display: flex;
    margin-top: 0px;
    margin-left: 35%;
    margin-right: 0%;
    z-index: 5000;
    box-shadow: 5px 5px white;
    padding-right: 50px;
}

.logo {
    position: fixed;
    background-color: white;
    width: 40%;
    float: left;
    padding: 8px;
    margin-top: 2px;
    z-index: 5000;
    box-shadow: 5px 5px white;
}

.logo a {
    color: #000;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0px;
    text-decoration: none;
    margin-left: 25%;
}

.containerMenu nav ul {
    float: left;
    margin-top: 2px;
    margin-left: 20%;
    padding-top: 20px;
}

.containerMenu nav ul li {
    border-top: 5px solid transparent;
    display: inline-block;
    float: left;
    height: 90%;
    margin-right: 40px;
    margin-top: -4%;
    margin-bottom: 10px;
}

.containerMenu nav ul li:hover {
    border-top: 5px solid #5CACD3;
    /* padding-top: 4%;*/
    height: 95%;
    margin-right: 40px;
    margin-top: -4%;
    margin-bottom: 20px;
}

.aPortofolia {
    margin-top: -10px;
}

.containerMenu nav ul li:first-child {
    padding-top: 7px;
}


/*

nav ul li:not(:first-child) {
    margin-left: 20px;
}



nav ul li:nth-child(2) {
    margin-top: 1%;
}

nav ul li:last-child {
    margin-top: 1%;
    margin-right: 24px;
}
*/

nav ul li a {
    display: inline-block;
    outline: none;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 1.2px;
    font-weight: 600;
    padding-top: 40%;
}

@media screen and (max-width: 992px) {
    .logo {
        padding: 0;
        background-color: white;
        height: 0;
    }
    /*
    .nav-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: #fff;
        opacity: 0;
        transition: all 0.2s ease;
    }*/
    .nav-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        z-index: -1;
        transition: all 0.2s ease;
    }
    .nav-wrapper ul {
        background-color: #000;
        position: absolute;
        top: 40%;
        left: 10%;
        transform: translateY(-50%);
        width: 50%;
        height: auto;
    }
    .nav-wrapper ul li {
        background-color: gray;
        border: 5px solid black;
        display: block;
        float: none;
        width: 100%;
        text-align: right;
        height: auto;
        margin-right: 40px;
        margin-bottom: 20px;
    }
    .nav-wrapper ul li:hover {
        background-color: white;
        display: block;
        float: none;
        width: 100%;
        text-align: right;
        height: auto;
        margin-right: 40px;
        margin-top: -4%;
        margin-bottom: 20px;
    }
    .nav-wrapper ul li:hover a {
        border: 0px;
        padding-top: 0px;
        color: aquamarine;
        transition: 0ms;
        width: 100%;
    }
    .nav-wrapper ul li:nth-child(1) a {
        transition-delay: 0.2s;
    }
    .nav-wrapper ul li:nth-child(2) a {
        transition-delay: 0.3s;
    }
    .nav-wrapper ul li:nth-child(3) a {
        transition-delay: 0.4s;
    }
    .nav-wrapper ul li:nth-child(4) a {
        transition-delay: 0.5s;
    }
    .nav-wrapper ul li:not(:first-child) {
        margin-left: 0;
    }
    .nav-wrapper ul li a {
        padding-left: 30px;
        padding-bottom: 2%;
        position: relative;
        right: 20%;
        opacity: 0;
        color: black;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 1.2px;
        transform: translateX(-20px);
        transition: all 0.2s ease;
    }
    .nav-wrapper ul li a:hover {
        padding-left: 30px;
        position: relative;
        right: 20%;
        opacity: 0;
        color: black;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 1.2px;
        transform: translateX(-20px);
        transition: all 0.2s ease;
    }
    .nav-btn {
        position: fixed;
        right: 10px;
        top: 10px;
        display: block;
        width: 48px;
        height: 48px;
        cursor: pointer;
        z-index: 9999;
        border-radius: 50%;
    }
    .nav-btn i {
        display: block;
        width: 20px;
        height: 2px;
        background: #000;
        border-radius: 2px;
        margin-left: 14px;
    }
    .nav-btn i:nth-child(1) {
        margin-top: 16px;
    }
    .nav-btn i:nth-child(2) {
        margin-top: 4px;
        opacity: 1;
    }
    .nav-btn i:nth-child(3) {
        margin-top: 4px;
    }
}

#nav:checked+.nav-btn {
    transform: rotate(45deg);
}

#nav:checked+.nav-btn i {
    background: #000;
    transition: transform 0.2s ease;
}

#nav:checked+.nav-btn i:nth-child(1) {
    transform: translateY(6px) rotate(180deg);
}

#nav:checked+.nav-btn i:nth-child(2) {
    opacity: 0;
}

#nav:checked+.nav-btn i:nth-child(3) {
    transform: translateY(-6px) rotate(90deg);
}

#nav:checked~.nav-wrapper {
    z-index: 9990;
    opacity: 1;
}

#nav:checked~.nav-wrapper ul li a {
    opacity: 1;
    transform: translateX(0);
}

.hidden {
    display: none;
}