                 body,
                 html {
                     font-family: 'Just Another Hand', cursive;
                     font-size: 13px;
                     margin: 0px;
                     padding: 0px;
                     background-color: #F5F5F5;
                     width: 100%;
                 }
                 
                 #portofolioBody {
                     background-color: #FFFFFFd;
                     width: 100%;
                     height: 160vh;
                 }
                 
                 .container {
                     /* margin: 0 auto;*/
                     width: 100%;
                     height: auto;
                     /* border-bottom: solid 10px blue;*/
                     margin-bottom: 100px;
                     position: absolute;
                     margin-top: 6%;
                     color: black;
                 }
                 
                 .entete {
                     margin-bottom: 4%;
                 }
                 
                 .entete h1 {
                     text-align: center;
                     text-transform: uppercase;
                     font-size: 4em;
                 }
                 
                 #portofolioBody .dotWithBorder {
                     width: 20%;
                     margin: 0 auto;
                     padding: 0%;
                     height: auto;
                     border-top: 2px solid rgba(0, 0, 0, .1);
                     margin-bottom: 2%;
                 }
                 
                 .entete p {
                     width: 80%;
                     margin-left: 15%;
                 }
                 
                 .p1,
                 .p2,
                 .pservice {
                     font-size: 2em;
                     text-justify: auto;
                 }
                 
                 .p2 {
                     text-indent: 20%;
                 }
                 /*overlay image et text*/
                 
                 .containerOverlay {
                     position: relative;
                     width: 20%;
                     height: 20%;
                     display: inline-block;
                     margin: 20px;
                 }
                 
                 .image {
                     display: block;
                     width: 100%;
                     height: 100%;
                 }
                 
                 .text {
                     color: white;
                     font-size: 18px;
                     position: absolute;
                     top: 50%;
                     left: 35%;
                     transform: translate(-50%, -50%);
                     font-family: sans-serif;
                 }
                 
                 .descriptinPortofolio {
                     font-weight: bold;
                     font-size: 15px;
                     text-transform: capitalize;
                 }
                 
                 .overlayFade {
                     height: 50%;
                     width: 100%;
                     top: 50%;
                     left: 0;
                     background-color: #3a3837bd;
                 }
                 /*fontAwesome */
                 
                 .overlayFade i {
                     font-size: 2em;
                     color: white;
                     background-color: #468ABD;
                     border: 1px solid white;
                     border-radius: 100%;
                     width: 50px;
                     height: 50px;
                     margin-left: 80%;
                     margin-top: -70%;
                     padding: 3%;
                 }
                 
                 #portofolioBody .entete i {
                     color: #468ABD;
                     background-color: white;
                     font-size: 20px;
                     padding: 1.5%;
                     border: 1px solid #ffffff;
                     border-radius: 45%;
                     position: relative;
                     top: -15px;
                     left: 42%;
                 }
                 
                 .overlay {
                     position: absolute;
                     opacity: 0;
                     transition: all .3s ease;
                     background-color: rgba(0, 0, 0, .5);
                 }
                 
                 .containerOverlay:hover .overlay,
                 .containerOverlay:hover .overlayFade {
                     opacity: 1;
                 }
                 /***
                * Galaxy S5   
                ***/
                 
                 @media screen and (min-width:320px) and (max-width:360px) {
                     #portofolioBody {
                         background-color: #F5F5F5;
                     }
                     #portofolioBody .entete h1 {
                         white-space: nowrap;
                         width: 150%;
                         font-size: 3em;
                         margin-top: -20px;
                         margin-left: 20%;
                     }
                     #portofolioBody .entete .p1 {
                         margin-top: -30px;
                         width: 180%;
                     }
                     #portofolioBody .entete .p2 {
                         width: 180%;
                     }
                     #portofolioBody .conatainer .menuTriangle {
                         width: 30px;
                         height: 100px;
                         margin-bottom: 20px;
                         float: right;
                     }
                     .overlayFade {
                         height: 50%;
                         width: 100%;
                         top: 50%;
                         left: 0;
                         background-color: #3a3837bd;
                     }
                     #portofolioBody .descriptinPortofolio {
                         font-size: 1.5em;
                     }
                     #portofolioBody .text {
                         font-size: 1em;
                         margin-top: -5%;
                     }
                     .descriptinPortofolio {
                         font-size: 0.2em;
                     }
                     /*fontAwesome */
                     #portofolioBody .overlayFade i {
                         font-size: 2em;
                         color: white;
                         background-color: #468ABD;
                         border: 1px solid white;
                         border-radius: 100%;
                         width: 50px;
                         height: 50px;
                         margin-left: 80%;
                         margin-top: -70%;
                         padding: 3%;
                     }
                 }
                 /*media queries */
                 /**
                * Responsive design avec le plus petit ecran  qu'un iphone 5
                **/
                 
                 @media screen and (max-width:300px) {
                     .entete i {
                         visibility: hidden;
                     }
                 }
                 /**
                *Responsive iphone 5 en mode portrait
                **/
                 
                 @media screen and (min-width:300px) and (max-width:640px) and (orientation: portrait) {
                     .entete h1 {
                         text-align: center;
                         text-transform: uppercase;
                         font-size: 1em;
                     }
                     .dotWithBorder {
                         width: 20%;
                         margin: 0 auto;
                         padding: 0%;
                         height: auto;
                         border-top: 2px solid rgba(0, 0, 0, .1);
                         margin-bottom: 2%;
                     }
                     .entete i {
                         visibility: hidden;
                     }
                 }
                 
                 @media only screen and (min-width:300px) and (max-width: 582px) {
                     #portofolioBody {
                         background-color: #FFFFFF;
                         border: 1px solid transparent;
                         width: 99%;
                         height: 355vh;
                         margin-top: 10%;
                         position: relative;
                         margin-top: 4%;
                         margin-bottom: 12%;
                         z-index: 30;
                     }
                     .dotWithBorder {
                         visibility: hidden;
                         width: 10%;
                         margin: 0 auto;
                         padding: 0%;
                         height: auto;
                         border-top: 2px solid rgba(0, 0, 0, .1);
                         margin-bottom: 2%;
                     }
                     .entete i {
                         color: #468ABD;
                         background-color: white;
                         font-size: 7px;
                         padding: 0.5%;
                         position: absolute;
                         top: 3%;
                         left: 49%;
                         border: 1px solid #ffffff;
                         border-radius: 45%;
                     }
                     .entete p {
                         width: 150%;
                         margin-left: 15%;
                     }
                     .p1,
                     .p2 {
                         text-indent: 5%;
                         font-size: 1.3em;
                         width: 100%;
                     }
                     .flexContainer {
                         display: flex;
                         flex-direction: column;
                         padding-left: 1px;
                         justify-content: space-around;
                         justify-content: space-between;
                         align-content: space-around;
                         width: 100%;
                         height: auto;
                     }
                     /**
                      * Portofolio Responsive
                      **/
                     #portofolio {
                         display: flex;
                         flex-wrap: wrap;
                         width: auto;
                         margin: 0%;
                     }
                     .containerOverlay {
                         display: flex;
                         flex-wrap: wrap;
                         width: 90%;
                         margin-left: 5%;
                     }
                     .overlayFade i {
                         color: white;
                         font-size: 2em;
                         background-color: #468ABD;
                         border: 1px solid white;
                         border-radius: 100%;
                         width: 80px;
                         height: 80px;
                         margin-left: 80%;
                         margin-top: -8%;
                         padding: 5%;
                     }
                     .text {
                         font-size: 2em;
                         margin-top: -10%;
                     }
                     .descriptinPortofolio {
                         font-size: 1.5em;
                     }
                     /*********************
                    * menu triangle responsive
                    ****************************/
                     #portofolioBody .menuTriangle {
                         background-color: none;
                         width: 100%;
                         height: 100px;
                         margin-bottom: 20px;
                         padding-left: 200px;
                     }
                     #portofolioBody .menuTriangle nav {
                         width: 40%;
                         margin: 0 auto;
                         background-color: #E5E5E5;
                         padding-left: 80%;
                     }
                     #portofolioBody .menuTriangle nav ul li :hover {
                         height: 69px;
                         width: 100%;
                         background-color: #5CACD3;
                         border-bottom: 10px solid #5CACD3;
                         color: white;
                     }
                     #portofolioBody .menuTriangle nav .default {
                         background-color: #5CACD3;
                         height: 69px;
                         width: 100%;
                         color: white;
                     }
                     #portofolioBody .menuTriangle nav ul li a {
                         border: 1px solid transparent;
                         text-align: center;
                         position: relative;
                         height: 100%;
                         width: 50%;
                         display: block;
                         /* margin: 25px 25px;*/
                         text-transform: capitalize;
                         white-space: nowrap;
                         text-decoration: none;
                         color: #262626;
                         font-size: 10px;
                         padding-left: 10px;
                         padding-right: 10px;
                         padding-top: 30px;
                     }
                     /********************************************
                  *footer
                  ********************************************/
                     .foot {
                         background: rgba(255, 255, 255, .5);
                         color: black;
                         width: 100%;
                         padding-top: 10%;
                         text-align: center;
                         font-weight: bold;
                     }
                 }
                 
                 @media only screen and (min-width:400px) and (max-width: 769px) {
                     /**************
                    * Portofolio Responsive
                    *******************/
                     #portofolioBody .entete {
                         margin-top: -15%;
                         margin-bottom: 1px;
                     }
                     #portofolioBody .entete h1 {
                         margin-left: 5%;
                         font-size: 4em;
                         text-align: center;
                     }
                     #portofolioBody .entete .p1 {
                         margin-top: -13%;
                     }
                     #portofolioBody .entete .p2 {
                         margin-top: -2%;
                     }
                     .menuTriangle {
                         width: 50%;
                         height: 100px;
                         margin-bottom: 20px;
                         padding-left: 200px;
                     }
                     .menuTriangle nav {
                         width: 30%;
                         margin-left: 100px;
                         background-color: black;
                     }
                     .menuTriangle nav ul {
                         position: relative;
                         padding: 0;
                         margin-right: -50%;
                         display: flex;
                         float: right;
                         /* transition: .5s;*/
                         background-color: #E5E5E5;
                         width: auto;
                         border: 1px solid #E5E5E5;
                         border-radius: 8px;
                         border: 1px solid transparent;
                     }
                 }
                 
                 @media screen and (min-width:600px) and (max-width: 992px) {
                     #portofolioBody {
                         background-color: white;
                         border: 1px solid black;
                         width: 100%;
                         height: 140vh;
                         margin-top: 10%;
                         position: relative;
                         z-index: 30;
                     }
                     .container {
                         margin-top: 10%;
                     }
                     #portofolioBody .container .entete h1 {
                         margin-left: 13%;
                         text-align: center;
                         text-transform: uppercase;
                         font-size: 4em;
                     }
                     .dotWithBorder {
                         visibility: hidden;
                         width: 10%;
                         margin: 0 auto;
                         padding: 0%;
                         height: auto;
                         border-top: 2px solid rgba(0, 0, 0, .1);
                         margin-bottom: 2%;
                     }
                     .entete i {
                         color: #468ABD;
                         background-color: white;
                         font-size: 7px;
                         padding: 0.5%;
                         position: absolute;
                         top: 3%;
                         left: 49%;
                         border: 1px solid #ffffff;
                         border-radius: 45%;
                     }
                     .entete p {
                         width: 150%;
                         margin-left: 15%;
                     }
                     .p1,
                     .p2 {
                         text-indent: 5%;
                         font-size: 1.3em;
                         width: 100%;
                     }
                     .flexContainer {
                         display: flex;
                         flex-direction: column;
                         padding-left: 1px;
                         justify-content: space-around;
                         justify-content: space-between;
                         align-content: space-around;
                         width: 100%;
                         height: auto;
                     }
                     /**
                        * Portofolio Responsive
                        **/
                     #portofolio {
                         display: flex;
                         flex-wrap: wrap;
                         width: auto;
                         margin: 0%;
                     }
                     .scrole {
                         border: 1px solid black;
                         max-height: 350px;
                         max-width: 85%;
                         margin-left: 5%;
                         overflow: auto;
                         border-radius: 1%;
                         box-shadow: 5px 10px 5px 10px rgba(255, 00, 255, .9);
                     }
                     .containerOverlay {
                         display: flex;
                         flex-wrap: wrap;
                         width: 80%;
                     }
                     .overlayFade i {
                         color: white;
                         font-size: 2em;
                         background-color: #468ABD;
                         border: 1px solid white;
                         border-radius: 100%;
                         width: 50px;
                         height: 50px;
                         margin-left: 80%;
                         margin-top: -5%;
                         padding: 2%;
                     }
                     .text {
                         font-size: 1em;
                         margin-top: -10%;
                     }
                     .descriptinPortofolio {
                         font-size: 1.5em;
                     }
                     /*********************
                      * menu triangle responsive
                      ****************************/
                     .menuTriangle {
                         background-color: black;
                         width: 100%;
                         height: 500px;
                         margin-bottom: 20px;
                     }
                     .menuTriangle nav {
                         width: 40%;
                         margin: 0 auto;
                         background-color: #E5E5E5;
                     }
                     /********************************************
                    *footer
                    ********************************************/
                     .foot {
                         background: rgba(255, 255, 255, .5);
                         color: black;
                         width: 100%;
                         padding-top: 10%;
                         text-align: center;
                         font-weight: bold;
                     }
                 }
                 /*le navigation avec les fleches de triangle */
                 
                 .arrow-down {
                     width: 0;
                     height: 0;
                     border-left: 10px solid transparent;
                     border-right: 10px solid transparent;
                     border-top: 9px solid #5CACD3;
                     position: relative;
                     top: -1%;
                     left: 36%;
                 }
                 /*menu portofolio avec triangle */
                 
                 .menuTriangle {
                     background-color: #F5F5F5;
                     width: 100%;
                     height: 100px;
                     margin-bottom: 20px;
                 }
                 
                 .menuTriangle nav {
                     width: 40%;
                     margin: 0 auto;
                     background-color: #E5E5E5;
                 }
                 
                 .menuTriangle nav ul {
                     position: relative;
                     padding: 0;
                     margin-right: 20%;
                     display: flex;
                     float: right;
                     /* transition: .5s;*/
                     background-color: #E5E5E5;
                     width: auto;
                     border: 1px solid #E5E5E5;
                     border-radius: 8px;
                     border: 1px solid transparent;
                 }
                 
                 .menuTriangle nav ul li {
                     border: 1px solid transparent;
                     list-style: none;
                     height: 69px;
                     padding: 0%;
                 }
                 
                 .menuTriangle nav ul li a {
                     border: 1px solid transparent;
                     text-align: center;
                     position: relative;
                     height: 100%;
                     width: 100%;
                     display: block;
                     /* margin: 25px 25px;*/
                     text-transform: capitalize;
                     white-space: nowrap;
                     text-decoration: none;
                     color: #262626;
                     font-size: 15px;
                     font-weight: bold;
                     padding-left: 10px;
                     padding-right: 10px;
                     padding-top: 30px;
                 }
                 
                 #pabios {
                     /*  margin-top: 28%;*/
                 }
                 
                 .default {
                     background-color: #5CACD3;
                 }
                 
                 .menuTriangle nav ul li :hover {
                     height: 69px;
                     width: auto;
                     background-color: #5CACD3;
                     border-bottom: 10px solid #5CACD3;
                     color: white;
                 }
                 
                 .menuTriangle nav ul li:first-child .arrow-down {
                     visibility: visible;
                 }
                 
                 .menuTriangle nav ul li .arrow-down {
                     visibility: hidden;
                 }
                 
                 .menuTriangle nav ul li:hover .arrow-down {
                     visibility: visible;
                 }
                 
                 .menuTriangle nav ul li a:hover {
                     color: white;
                 }
                 
                 .positionActuel {
                     background-color: #5CACD3;
                 }
                 /*footer mp bricoler a refaire */
                 
                 .foot {
                     background-color: #97CDE6;
                     padding-top: 2%;
                     position: absolute;
                     top: 150vh;
                     /* border-top: 2px solid black;*/
                     color: black;
                     font-size: 20px;
                     width: 100%;
                     height: 13.2%;
                     text-align: center;
                     font-weight: bold;
                 }