body,
html {
    font-family: 'Just Another Hand', cursive;
    font-size: 11px;
    margin: 0px;
    padding: 0px;
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
    margin: 0;
}

#service {
    background-color: #FFFFFFd;
    width: 100%;
    height: 192vh;
}

#service .container {
    /* margin: 0 auto;*/
    width: 100%;
    height: auto;
    color: black;
}

#service.entete {
    margin-bottom: 4%;
}

.entete h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 4em;
}

.dotWithBorder {
    width: 20%;
    margin: 0 auto;
    padding: 0%;
    height: auto;
    border-top: 2px solid rgba(0, 0, 0, .1);
    margin-bottom: 2%;
    margin-top: -1.5%;
}

#service .entete i {
    color: #00b1ba;
    background-color: white;
    font-size: 20px;
    padding: 0.5%;
    margin-left: 48%;
    border: 1px solid white;
    border-radius: 50%;
}

#service .entete p {
    width: 80%;
    margin-left: 14%;
}

.p1,
.p2,
.pservice {
    font-size: 2em;
    text-justify: auto;
}

.p2 {
    text-indent: 20%;
}


/* le moniteur apple */

.tvApple {
    width: 40%;
    height: auto;
    padding-left: 10%;
    float: left;
}


/*liste des services */

.listeService {
    width: 45%;
    height: auto;
    margin-top: 5%;
    margin-left: 10%;
}

.tvApple,
.listeService {
    display: inline-block;
}

.infoService h2 {
    font-weight: bold;
    font-size: 2em;
}

.ui {
    width: 100%;
    height: auto;
}

.ux {
    width: 100%;
    height: auto;
}

.seo {
    width: 100%;
    height: auto;
}

.ux,
.ui,
.seo {
    display: flex;
}

.foto img {
    width: 100%;
    height: 68%;
    border: 1px solid white;
    border-radius: 55%;
    margin-top: 30%;
    margin-right: 10%;
}

.infoService {
    padding-left: 5%;
}


/*fontAwesome */

.foto {
    width: auto;
}

.foto i {
    color: #5CACD3;
    border: 1px solid black;
    border-radius: 50%;
    font-size: 40px;
    padding: 15px;
    margin-top: 95%;
    margin-left: 2.5%;
}

.listeService span i {
    font-size: 1.5em;
    color: #5CACD3;
    position: relative;
    top: 40%;
    right: 45%;
}


/***
* Galaxy S5   
 ***/

@media screen and (min-width:320px) and (max-width:360px) {
    #service {
        position: absolute;
        top: 90px;
        height: 500vh;
    }
    #service .entete h1 {
        font-size: 0.2em;
        white-space: nowrap;
        margin-left: 25px;
    }
    #service .entete .p1 {
        font-size: 18px;
    }
    #service .entete .p2 {
        font-size: 18px;
    }
    #service .listeService .infoService .pservice {
        width: 100%;
        font-size: 1.5em;
    }
}

@media only screen and (max-width:582px) {
    #service {
        position: relative;
        z-index: 30;
        margin-bottom: 2%;
    }
    #service .paragrapheEntete p {
        font-size: 1em;
    }
}


/**
* Responsive design avec un ecran plus petit qu'un iphone 5
**/

@media screen and (max-width:300px) {
    .foto i {
        color: #5CACD3;
        border: 1px solid transparent;
        border-radius: 50%;
        font-size: 30px;
        padding: 15px;
        margin-top: 20%;
    }
    .listeService span i {
        color: #5CACD3;
        position: relative;
        top: 18%;
        right: 36%;
    }
}


/**
*Responsive iphone 5 en mode paysage
**/

@media screen and (min-width:300px) and (max-width:640px) and (orientation: portrait) {
    .entete {
        margin-top: 2%;
        width: 100%;
    }
    #service .entete h1 {
        margin-left: 50%;
        width: 100%;
    }
    .dotWithBorder {
        visibility: hidden;
        width: 50%;
        margin: 0 auto;
        padding: 0%;
        height: auto;
        border-top: 2px solid rgba(0, 0, 0, .1);
        margin-bottom: auto;
        margin-left: 74%;
    }
    .entete i {
        visibility: hidden;
        color: #00b1ba;
        background-color: white;
        font-size: 10px;
        padding: 0.5%;
        position: absolute;
        top: 5vh;
        left: 47%;
    }
    .paragrapheEntete {
        width: 180%;
        margin-top: -4vh;
        font-size: 1.5em;
    }
    .p1,
    .p2,
    .pservice {
        font-size: 1em;
        text-justify: auto;
    }
    .p2 {
        text-indent: 20%;
    }
}

@media only screen and (max-width: 769px) {
    /*******
    * service responsive
    *************************/
    #service {
        margin-bottom: 1px;
        position: relative;
        z-index: 30;
    }
    .description {
        width: 100%;
        margin-left: -20%;
    }
    .description span {
        font-size: 3em;
    }
    .description em {
        font-size: 2em;
    }
    #service .entete {
        margin-top: -10%;
    }
    .entete i {
        visibility: hidden;
    }
    #service .entete h1 {
        font-size: 20px;
        margin-bottom: 1px;
        margin-top: 1px;
    }
    .paragrapheEntete {
        width: 200%;
        margin-top: -20%;
        margin-left: -10%;
    }
    .foto {
        margin-top: -4.5%;
    }
}

@media only screen (max-width: 375px) {
    .containerMenu .logo {
        z-index: 11;
    }
    #service {
        background-color: #FFFFFF;
        border: 1px solid black;
        width: 100%;
        height: 173vh;
        margin-top: 50%;
        margin-bottom: 2%;
        position: relative;
        z-index: 30;
    }
    .container {
        flex-wrap: wrap;
        width: 100%;
        margin: 0;
        margin-top: 10%;
    }
    .entete {
        width: 100%;
        margin-bottom: 2%;
        padding-right: 50%;
    }
    .entete h1 {
        width: 150%;
        color: #5CACD3;
        text-transform: uppercase;
        border: 1px solid dotted;
    }
    .dotWithBorder {
        width: 45%;
        margin: 0 auto;
        padding: 0%;
        height: auto;
        border-top: 2px solid rgba(0, 0, 0, .1);
        margin-bottom: auto;
        margin-left: 50%;
    }
    .entete i {
        color: #00b1ba;
        background-color: white;
        font-size: 10px;
        padding: 0.5%;
        position: absolute;
        top: 10.5vh;
        left: 35%;
    }
    .entete p {
        width: 100%;
        margin-left: 5%;
    }
    .p1 {
        margin-top: 15%;
    }
    .p1,
    .p2,
    .pservice {
        font-size: 1em;
        text-justify: auto;
    }
    .p2 {
        text-indent: 15%;
    }
    /*liste des services pour mobile responsive */
    .tvApple {
        margin: 0;
        height: auto;
        width: 100%;
    }
    .tvApple img {
        width: 100%;
        margin: 0;
    }
    .listeService {
        width: 100%;
        height: auto;
        margin: 0;
        padding-left: 10%;
    }
    .infoService {
        padding-right: 20%;
        font-size: 0.7em;
    }
    .ui {
        width: 100%;
        height: auto;
    }
    .ux {
        width: 100%;
        height: auto;
    }
    .seo {
        width: 100%;
        height: auto;
    }
    .ux,
    .ui,
    .seo {
        display: flex;
    }
    .foto img {
        width: 100%;
        height: 68%;
        border: 1px solid white;
        border-radius: 55%;
        margin-top: 30%;
        margin-right: 10%;
    }
    .infoService {
        padding-left: 5%;
    }
    .foot {
        background: rgba(255, 255, 255, .5);
        color: black;
        width: 100%;
        padding-top: 10%;
        text-align: center;
        font-weight: bold;
    }
}

@media only screen and (max-width: 582px) {
    .containerMenu .logo {
        z-index: 11;
    }
    #service {
        background-color: #FFFFFF;
        border: 1px solid transparent;
        width: 99%;
        height: 178vh;
        margin-top: 38%;
        margin-bottom: 2%;
        position: relative;
        z-index: 30;
    }
    .container {
        flex-wrap: wrap;
        width: 100%;
        margin: 0;
        margin-top: 10%;
    }
    .entete {
        width: 100%;
        margin-bottom: 2%;
        padding-right: 50%;
    }
    .entete h1 {
        width: 150%;
        color: #5CACD3;
        text-transform: uppercase;
        border: 1px solid dotted;
    }
    .dotWithBorder {
        width: 45%;
        margin: 0 auto;
        padding: 0%;
        height: auto;
        border-top: 2px solid rgba(0, 0, 0, .1);
        margin-bottom: auto;
        margin-left: 50%;
    }
    .entete i {
        color: #00b1ba;
        background-color: white;
        font-size: 10px;
        padding: 0.5%;
        position: absolute;
        top: 10.5vh;
        left: 35%;
    }
    .entete p {
        width: 100%;
        margin-left: 5%;
    }
    .p1 {
        margin-top: 15%;
    }
    .p1,
    .p2,
    .pservice {
        font-size: 1em;
        text-justify: auto;
    }
    .p2 {
        text-indent: 15%;
    }
    /*liste des services pour mobile responsive */
    .tvApple {
        margin: 0;
        height: auto;
        width: 100%;
    }
    .tvApple img {
        width: 100%;
        margin: 0;
    }
    .listeService {
        width: 100%;
        height: auto;
        margin: 0;
        padding-left: 10%;
    }
    .infoService {
        padding-right: 20%;
        font-size: 0.7em;
    }
    .ui {
        width: 100%;
        height: auto;
    }
    .ux {
        width: 100%;
        height: auto;
    }
    .seo {
        width: 100%;
        height: auto;
    }
    .ux,
    .ui,
    .seo {
        display: flex;
    }
    .infoService {
        padding-left: 5%;
    }
    .foot {
        background: rgba(255, 255, 255, .5);
        color: black;
        width: 100%;
        padding-top: 10%;
        text-align: center;
        font-weight: bold;
    }
}

@media only screen and (min-width:600px) and (max-width: 992px) {
    #service {
        background-color: #FFFFFF;
        width: 100%;
        height: 190vh;
        margin-top: 30%;
        margin-bottom: 2%;
        position: relative;
        z-index: 30;
    }
    .container {
        flex-wrap: wrap;
        width: 100%;
        margin: 0;
        margin-top: 10%;
    }
    .entete {
        width: 100%;
        margin-bottom: 2%;
        padding-right: 50%;
    }
    .entete h1 {
        width: 150%;
        color: #5CACD3;
        text-transform: uppercase;
        border: 1px solid dotted;
    }
    .dotWithBorder {
        width: 45%;
        margin: 0 auto;
        padding: 0%;
        height: auto;
        border-top: 2px solid rgba(0, 0, 0, .1);
        margin-bottom: auto;
        margin-left: 50%;
    }
    .entete i {
        color: #00b1ba;
        background-color: white;
        font-size: 10px;
        padding: 0.5%;
        position: absolute;
        top: 10.5vh;
        left: 35%;
    }
    .entete p {
        width: 100%;
        margin-left: 5%;
    }
    .p1 {
        margin-top: 15%;
    }
    .p1,
    .p2,
    .pservice {
        font-size: 1em;
        text-justify: auto;
    }
    .p2 {
        text-indent: 15%;
    }
    /*liste des services pour mobile responsive */
    .tvApple {
        margin: 0;
        height: auto;
        width: 100%;
    }
    .tvApple img {
        width: 100%;
        margin: 0;
    }
    .listeService {
        padding-left: 10%;
        width: 100%;
        height: auto;
        margin: 0;
    }
    .infoService {
        padding-right: 20%;
        font-size: 0.7em;
    }
    .ui {
        width: 100%;
        height: auto;
    }
    .ux {
        width: 100%;
        height: auto;
    }
    .seo {
        width: 100%;
        height: auto;
    }
    .ux,
    .ui,
    .seo {
        display: flex;
    }
    .infoService {
        padding-left: 5%;
    }
    .foot {
        background: rgba(255, 255, 255, .5);
        color: black;
        width: 100%;
        padding-top: 10%;
        text-align: center;
        font-weight: bold;
    }
}

.foot {
    background-color: #97CDE6;
    padding-top: 2%;
    position: absolute;
    top: 150vh;
    /* border-top: 2px solid black;*/
    color: black;
    font-size: 20px;
    width: 100%;
    height: 13.2%;
    text-align: center;
    font-weight: bold;
}